@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    [x-cloak] {
        display: none !important;
    }

    .btn {
        @apply p-2 px-3 md:px-4 rounded-md whitespace-nowrap transition flex items-center justify-center font-semibold text-sm;
    }

    .btn:disabled, .btn.disabled {
        @apply grayscale opacity-50 pointer-events-none;
    }

    .btn-primary {
        @apply bg-teal-500 hover:bg-teal-600 text-white btn;
    }

    .btn-outline {
        @apply border text-gray-400 btn hover:bg-gray-50 bg-white;
    }

    .btn-primary-outline {
        @apply btn border border-teal-500 text-teal-500 hover:bg-teal-500 hover:text-white font-medium;
        @apply disabled:border-gray-400 disabled:text-gray-400 disabled:hover:bg-inherit;
    }

    [contenteditable]:empty:before {
        content: attr(data-placeholder);
        opacity: 0.5;
    }

    .form-input {
        @apply bg-white rounded border p-2 px-3 outline-none focus:border-teal-500 transition;
    }

    .error {
        @apply text-red-500 text-sm;
    }
}

/* Enter/Exit Transition utilities */
.enter {
    @apply opacity-0 transition-all ease-out;
}

.enter-active {
    @apply opacity-100 transition-all ease-out;
}

.exit {
    @apply opacity-100 transition-all ease-in;
}

.exit-active {
    @apply opacity-0 transition-all ease-in;
}

/* Opacity Transition */
.opacity-enter {
    @apply enter;
}

.opacity-enter-active {
    @apply enter-active duration-300;
}

.opacity-exit {
    @apply exit;
}

.opacity-exit-active {
    @apply exit-active duration-150;
}

/* Scale Transition */
.scale-enter {
    @apply enter transform scale-90;
}

.scale-enter-active {
    @apply enter-active transform scale-100 duration-200;
}

.scale-exit {
    @apply exit transform scale-100;
}

.scale-exit-active {
    @apply exit-active transform scale-90 duration-100;
}
